<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <h1>All Notices</h1>
    <ul>
        <% for (let notice of notices) {%>
            <li>               
                <a href="<%= notice._id %>"><%= notice.Company %></a>
            </li>
            <%}%>
    </ul>
</body>
</html>