body {
  background-color: rgb(179, 179, 179);
  margin: 0;
  padding: 0;
}

.container {
  background-color: aliceblue;
  width: 100%;
  box-shadow: 3px 3px 30px rgba(5, 5, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
}

.upd1 {
  color: white;
  display: flex;
  margin-bottom: 2%;
  align-items: center;
  background-color: rgb(93, 0, 255);
}

.btns {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.mid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.heading {
  text-align: center;
}

/* Adjust styles for smaller screens */
@media (max-width: 767px) {
  .container {
      width: 100%;
  }

  .row {
      flex-direction: column; /* Stack columns below each other */
      margin-bottom: 10px; /* Add spacing between stacked rows */
  }

  .col {
      width: 100%; /* Make columns full width on smaller screens */
      margin-bottom: 10px; /* Add spacing between stacked columns */
  }

  .btn {
      width: 100%;
  }

  /* Add more responsive styles as needed */
}
